.zoomContainer, .right{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.6);
    justify-content: space-around;
}

.img{
    position: relative;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.imgSmaller{
    position: relative;
    width: 80%;
    padding: 10px;
}

.imagewrapper{
    position: relative;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;

}

.right{
    position: relative;
    height: 100%;
    padding: 28px 88px;
}

.left{
    position: relative;
    display: grid;
    height: 100%;
    padding: 5px;
    width: 270px;
    justify-content: center;
    align-items: center;
}

.next, .prev {
  position: absolute;
  background: rgb(0, 0, 0);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  top: 50%;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.closeIcon{
    width: 24px;
    height: 24px;
}

.close{
    position: fixed;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 40px;
}